<div class="d-flex align-items-center">
  <div class="navbar-item">
    <a class="navbar-brand" routerLink="">
      <img src="../../../assets/iconos/icono-hospital.png" style="width: 45px;">
    </a>
  </div>

  <div class="navbar-item">
    <a class="navbar-brand" routerLink=''>
      Inicio
    </a>
  </div>

  <div *ngIf="usuarioPerfil==='administrador'" class="navbar-item">
    <a class="navbar-brand" routerLink='/usuarios'>
      Usuarios
    </a>
  </div>

  <div *ngIf="usuarioPerfil!=='especialista'" class="navbar-item">
    <a class="navbar-brand" routerLink='/turnos'>
      Turnos
    </a>
  </div>

  <div class="nav-item navbar-item ms-auto">
    <div *ngIf="usuarioLogeado" class="d-flex row justify-content-center align-items-center">
      <div class="col">
        <img [src]="usuarioFoto" class="navbar-imagen-perfil-contenedor">
      </div>
      <div class="col dropdown">
        <button class="btn btn-light shadow dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Cuenta
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><button class="dropdown-item" routerLink="/perfil">Perfil</button></li>
          <li><button class="dropdown-item bg-danger" (click)="salir()">Cerrar sesión</button></li>
        </ul>
      </div>
    </div>

    <div *ngIf="!usuarioLogeado">
      <a class="btn btn-warning shadow-sm" routerLink='login'>
        Iniciar sesión
      </a>
    </div>
  </div>
</div>

<app-spinner *ngIf="spinner"></app-spinner>