<div class="d-flex align-items-center">
  <div class="nav-item navbar-item ms-auto">
    <div *ngIf="usuarioLogeado" class="d-flex row justify-content-center align-items-center">
      <div class="d-flex row">
        <div class="col d-flex justify-content-end">
          <img [src]="usuarioFoto" class="navbar-imagen-perfil-contenedor shadow-sm">
        </div>
        <div class="col">
          <p class="fw-bold text-secondary text-center">
            {{usuarioCredenciales?.nombre}} {{usuarioCredenciales?.apellido}}
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="!usuarioLogeado">
      <a class="btn btn-warning shadow-sm" routerLink='login'>
        Iniciar sesión
      </a>
    </div>
  </div>
</div>

<button *ngIf="!sidebarAbierta" id="toggleSidebar" class="boton-sidebar btn btn-primary shadow-sm fw-bold"
  (click)="sidebarAbierta=!sidebarAbierta">
  >
</button>

<header *ngIf="sidebarAbierta">
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar bg-white">

    <button class="boton-sidebar btn btn-primary shadow-sm fw-bold" (click)="sidebarAbierta=false">X</button>

    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a routerLink="" class="list-group-item list-group-item-action py-2 ripple">
          <img src="../../../assets/iconos/icono-hospital.png" style="width: 25px;">
          <span class="mx-2">Inicio</span>
        </a>

        <a *ngIf="usuarioCredenciales?.perfil" routerLink="/perfil"
          class="list-group-item list-group-item-action py-2 ripple">
          <img src="../../../assets/iconos/navbar/icono-navbar-usuario.png" style="width: 25px;">
          <span class="mx-2">Perfil</span>
        </a>

        <a *ngIf="usuarioLogeado" routerLink="/turnos" class="list-group-item list-group-item-action py-2 ripple">
          <img src="../../../assets/iconos/navbar/icono-navbar-turnos.png" style="width: 25px;">
          <span class="mx-2">Turnos</span>
        </a>

        <a *ngIf="usuarioCredenciales?.perfil=='administrador'" routerLink="/usuarios"
          class="list-group-item list-group-item-action py-2 ripple">
          <img src="../../../assets/iconos/navbar/icono-navbar-usuarios.png" style="width: 25px;">
          <span class="mx-2">Usuarios</span>
        </a>

        <a *ngIf="usuarioCredenciales?.perfil=='especialista'" routerLink="/pacientes"
          class="list-group-item list-group-item-action py-2 ripple">
          <img src="../../../assets/iconos/navbar/icono-navbar-pacientes.png" style="width: 25px;">
          <span class="mx-2">Pacientes</span>
        </a>

        <a *ngIf="usuarioCredenciales?.perfil" (click)="salir()"
          class="list-group-item list-group-item-action py-2 ripple bg-danger">
          <span class="mx-2 text-white">Cerrar sesión</span>
        </a>
      </div>
    </div>
  </nav>
</header>

<app-spinner *ngIf="spinner"></app-spinner>