<div class="contenedor-fondo">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card shadow">
                    <div class="card-header text-center p-3">
                        <h4>Elija un perfil</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex row justify-content-center">
                            <div class="col">
                                <button class="btn btn-success m-2 w-100" routerLink="/registro-paciente">
                                    <img src="../../../assets/iconos/icono-paciente.png" width="100%">
                                    Paciente
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-success m-2 w-100" routerLink="/registro-especialista">
                                    <img src="../../../assets/iconos/icono-especialista.png" width="100%">
                                    Especialista
                                </button>
                            </div>
                            <button class="btn btn-secondary w-25 m-2" routerLink="/login">
                                <h3>
                                    Atrás
                                </h3>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>