<div class="contenedor-fondo">

    

    <div *ngIf="usuarioPerfil" class="container">

        <!--ELEGIR TRAMITE-->
        <div *ngIf="tramite==''">
            <div class="card shadow mt-4">
                <div class="card-header text-center p-3">
                    <h4>Gestionar turnos</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex row justify-content-center">
                        <div *ngIf="usuarioPerfil!=='especialista'" class="col-6">
                            <div class="d-flex flex-column align-items-center">
                                <img src="../../../assets/iconos/icono-sacar-turno.png" width="50%" class="mb-3">
                                <button class="btn btn-primary w-75 p-3" (click)="tramite='sacar-turno'">
                                    Pedir un turno
                                </button>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex flex-column align-items-center">
                                <img src="../../../assets/iconos/icono-turnos.png" width="50%" class="mb-3">
                                <button class="btn btn-primary w-75 p-3" (click)="tramite='gestionar-turno'">
                                    Turnos
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--SACAR TURNO-->
        <div *ngIf="tramite=='sacar-turno'">
            <div class="card mt-5 shadow">
                <div class="card-header">
                    <button class="btn btn-secondary" (click)="tramite=''">
                        Atrás
                    </button>
                </div>
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                            role="progressbar" [style.width.%]="porcentajeProgreso" aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>

                    <div *ngIf="!turno">
                        <!--MOSTRAR ESPECIALIDADES-->
                        <div class="container mt-4">
                            <label>
                                <h5 class="text-center">{{tituloProgreso}}</h5>
                            </label>
                            <div class="d-flex mt-3">
                                <button *ngFor="let especialidad of especialidades"
                                    class="boton-especialidad btn btn-light m-2 shadow" [value]="especialidad.nombre"
                                    (click)="elegirEspecialidad(especialidad.nombre); filtrarEspecialidad();">
                                    <img src="{{especialidad.imagen}}" class="imagen-especialidad">
                                </button>
                            </div>
                        </div>

                        <div *ngIf="especialidadElegida" class="mt-5">
                            <div class="container d-flex row">

                                <!--ELEGIR PROFESIONAL-->
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-header">
                                            Nuestros profesionales especializados en <b>{{especialidadElegida}}</b>
                                        </div>
                                        <div class="lista-scrolleable card-body bg-light">
                                            <button *ngFor="let especialista of especialistasFiltrados"
                                                class="card btn btn-light mt-3 p-3 w-100 shadow-sm"
                                                (click)="elegirEspecialista(especialista)">
                                                <p class="fw-bold">
                                                    {{especialista.nombre}} {{especialista.apellido}}
                                                </p>
                                                <img src="{{especialista.foto}}"
                                                    style="width: 50px; border-radius: 100%">
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!--ELEGIR DIA-->
                                <div *ngIf="especialistaElegido" class="col-6">
                                    <div class="card">
                                        <div class="card-header">
                                            Días disponibles para la consulta
                                        </div>
                                        <div class="lista-dias card-body bg-light">
                                            <button *ngFor="let dia of horariosDisponiblesInfo"
                                                class="boton-dia btn btn-info m-1" (click)="elegirFecha(dia)">
                                                {{dia.nombreDia}} {{dia.dia}}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!--ELEGIR HORA-->
                                <div *ngIf="fechaElegida && !horaElegida" class="mt-3">
                                    <div class="card">
                                        <div class="card-header">
                                            Horarios disponibles para el día <b>{{fechaElegida.nombreDia}}
                                                {{fechaElegida.dia}}</b>
                                        </div>
                                        <div class="card-body bg-light">
                                            <button *ngFor="let hora of fechaElegida.horario"
                                                class="boton-hora btn btn-info m-1" (click)="elegirHora(hora)">
                                                {{fechaElegida.dia}}/{{fechaElegida.mes}} {{hora | date:'HH:mm' }}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!--CONFIRMAR TURNO-->
                                <div *ngIf="horaElegida" class="col mt-3">
                                    <div class="card">
                                        <div class="card-header">
                                            Turno para el día <b>{{fechaElegida.nombreDia}} {{fechaElegida.dia}} a las
                                                {{horaElegida | date:'HH:mm a'}}</b> con
                                            <b>{{especialistaElegido?.nombre}} {{especialistaElegido?.apellido}}</b>
                                        </div>
                                        <div class="mt-2">
                                            <button class="btn btn-warning w-50" (click)="crearTurno(horaElegida)">
                                                Continuar
                                            </button>
                                            <button class="btn btn-secondary w-50" (click)="horaElegida=undefined">
                                                Atrás
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--MOSTRAR TURNO (SI EXISTE)-->
                    <div *ngIf="turno">
                        <div class="card mt-4">
                            <div class="card-body">
                                <h4 class="card-title my-4">{{turno.fecha}}</h4>
                                <p class="card-text">
                                    Profesional: <b>{{especialistaElegido?.nombre}}
                                        {{especialistaElegido?.apellido}}</b>
                                </p>
                                <p class="card-text mt-2">
                                    Especialidad: <b>{{especialistaElegido!.especialidad | capizalizar}}</b>
                                </p>
                                <p class="card-text mt-2">
                                    Mail: <b>{{especialistaElegido?.mail}}</b>
                                </p>
                            </div>
                            <div class="w-100 mt-4">
                                <button class="btn btn-success w-50" (click)="confirmarTurno(turno)">
                                    Confirmar turno
                                </button>
                                <button class="btn btn-secondary w-50" (click)="limpiarGestionTurnos()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--GESTIONAR TURNO/S-->
        <div *ngIf="tramite=='gestionar-turno'">
            <div class="card mt-5 shadow">
                <div class="card-header">
                    <button class="btn btn-secondary" (click)="tramite=''">
                        Atrás
                    </button>

                    <div>
                        <form [formGroup]="filtroForm" class="d-flex flex-row justify-content-between mt-3">
                            <input class="form-control" type="text" formControlName="paciente"
                                placeholder="Filtrar por paciente" (input)="filtrarTurnos()">

                            <input class="form-control" type="text" formControlName="especialista"
                                placeholder="Filtrar por especialista" (input)="filtrarTurnos()">

                            <input class="form-control" type="text" formControlName="estado"
                                placeholder="Filtrar por estado" (input)="filtrarTurnos()">

                            <input class="form-control" type="text" formControlName="especialidad"
                                placeholder="Filtrar por especialidad" (input)="filtrarTurnos()">
                        </form>
                    </div>
                </div>

                <div class="card-body">
                    <div *ngFor="let turno of turnosFiltrados" class="card my-2">
                        <div class="card-header d-flex justify-content-between align-items-center p-3" [ngClass]="{
                            'border-danger': turno.estado==='Rechazado',
                            'border-secondary': turno.estado==='Cancelado',
                            'border-info': turno.estado==='Inactivo',
                            'border-primary': turno.estado==='Aceptado',
                            'border-success': turno.estado==='Finalizado',
                        }">
                            <div [ngClass]="{'text-danger': turno.estado==='Rechazado',
                                            'text-secondary': turno.estado==='Cancelado'}">
                                <p><b>Paciente</b>: {{turno.nombrePaciente}}</p>
                                <p><b>Profesional</b>: {{turno.nombreEspecialista}} - <i>{{turno.especialidad |
                                        capizalizar}}</i></p>
                                <b>[{{turno.estado}}]</b> - ({{turno.fecha}})
                            </div>

                            <div *ngIf="turno.estado==='Aceptado' || turno.estado==='Inactivo'">

                                <!--BOTONES ESPECIALISTA-->
                                <div *ngIf="usuarioPerfil==='especialista'">
                                    <button *ngIf="turno.estado!=='Aceptado'" class="btn btn-primary m-1"
                                        (click)="aceptarTurno(turno)">
                                        Aceptar turno
                                    </button>

                                    <button *ngIf="turno.estado==='Aceptado'" class="btn btn-success m-1"
                                        (click)="finalizarTurno(turno)">
                                        Finalizar turno
                                    </button>

                                    <button *ngIf="turno.estado!=='Aceptado'" class="btn btn-danger m-1"
                                        (click)="rechazarTurno(turno)">
                                        Rechazar turno
                                    </button>
                                </div>

                                <button *ngIf="turno.estado==='Inactivo'" class="btn btn-secondary m-1"
                                    (click)="cancelarTurno(turno)">
                                    Cancelar turno
                                </button>
                            </div>

                            <!--TURNO FINALIZADO-->
                            <div *ngIf="turno.estado==='Finalizado'">

                                <button *ngIf="usuarioPerfil=='especialista'" class="btn btn-warning m-1"
                                    (click)="verDiagnostico(turno)"
                                    [disabled]="turno.diagnostico?.observacion===undefined">
                                    Ver diagnóstico
                                </button>

                                <!--BOTON PACIENTE-->
                                <button *ngIf="usuarioPerfil=='paciente' && turno.resenia?.comentario===undefined"
                                    class="btn btn-primary m-1" (click)="subirResenia(turno)">
                                    Subir reseña
                                </button>

                                <button class="btn btn-warning m-1" [disabled]="turno.resenia?.comentario==undefined"
                                    (click)="verResenia(turno)">
                                    Ver reseña
                                </button>
                            </div>
                            <span *ngIf="turno.motivo">
                                <b>Motivo: </b><i class="text-secondary">{{turno.motivo}}</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner *ngIf="spinner"></app-spinner>