<div class="contenedor-fondo">
    <div class="container d-flex justify-content-center">
        <div class="w-100" *ngIf="verPacientes">
            <div class="card mt-4 shadow">
                <div class="card-header text-center p-3">
                    <h4>Mis pacientes</h4>
                </div>
                <div *ngIf="usuarioDatos" class="card-body">
                    <div *ngIf="pacientes && !verHistoriaPaciente">
                        <div *ngFor="let paciente of pacientes" class="card">
                            <div class="card-body d-flex flex-row justify-content-between">
                                <div class="d-flex flex-column">
                                    <img src="{{paciente.foto}}" class="shadow" style="width: 50px; height: 50px; border-radius: 100%;">
                                    <span class="mt-3">{{paciente.datos.nombre}} {{paciente.datos.apellido}}</span>
                                </div>
                                <div class="d-flex flex-column">
                                    <button class="btn btn-light p-2 d-flex flex-row justify-content-between align-items-center shadow-sm"
                                    (click)="verHistoriaPaciente=paciente">
                                        Historia clínica
                                        <img src="../../../assets/iconos/icono-historia-clinica.png" width="25px">
                                    </button>
                                    <button class="btn btn-info p-2 d-flex flex-row justify-content-between align-items-center shadow-sm"
                                    (click)="verInfoPaciente(paciente.datos)">
                                        Detalle
                                        <img src="../../../assets/iconos/icono-paciente-info.png" width="25px">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="verHistoriaPaciente">
                        <app-historia-clinica [usuarioObj]="{usuarioId: verHistoriaPaciente.datos.id, especialistaId: especialistaId}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>