<div class="contenedor-fondo">
    <div class="container d-flex justify-content-center">
        <div class="card mt-5 w-50 shadow">
            <div class="card-header">
                <h3 class="text-center">Mi cuenta</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center align-items-start">
                        <img class="foto-perfil shadow" [src]="usuarioFoto">
                    </div>
                    <div class="col-md-8 mt-2">
                        <p>Nombre: <b>{{usuarioDatos?.nombre}}</b></p>
                        <hr>
                        <p>Apellido: <b>{{usuarioDatos?.apellido}}</b></p>
                        <hr>
                        <p>Mail: <b>{{usuarioDatos?.mail}}</b></p>
                        <hr>
                        <p>DNI: <b>{{usuarioDatos?.dni}}</b></p>
                        <div *ngIf="usuarioDatos?.obraSocial">
                            <hr>
                            <p>Obra social: <b>{{usuarioDatos?.obraSocial}}</b></p>
                        </div>
                        <div *ngIf="usuarioDatos?.especialidad">
                            <hr>
                            <p>Especialidades: <b>{{usuarioDatos?.especialidad}}</b></p>
                            <hr>
                            <p>Disponibilidad: <b>{{usuarioDatos?.disponibilidad}} minutos</b></p>
                            <div>
                                Asignar disponibilidad horaria:

                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Ej: 30" min="5"
                                        [(ngModel)]="disponibilidadHoraria">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">minutos</span>
                                    </div>
                                </div>
                                <button class="btn btn-secondary w-100"
                                    (click)="asignarDisponibilidadHoraria(disponibilidadHoraria)">
                                    Asignar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner *ngIf="spinner"></app-spinner>