<div class="contenedor-fondo">

    <!--MI PERFIL-->
    <div [@slideInAnimation] *ngIf="!verHistoria" class="container d-flex justify-content-center">
        <div *ngIf="usuarioDatos" class="card mt-5 w-50 shadow">
            <div class="card-header text-center p-3">
                <h4>Mi cuenta</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 d-flex flex-column justify-content-center align-items-start">
                        <img class="foto-perfil shadow" [src]="usuarioFoto">
                        <img *ngIf="usuarioFotoSec" class="foto-perfil shadow" [src]="usuarioFotoSec">
                    </div>
                    <div class="col-md-8 mt-2">
                        <p>Nombre: <b>{{usuarioDatos?.nombre}}</b></p>
                        <hr>
                        <p>Apellido: <b>{{usuarioDatos?.apellido}}</b></p>
                        <hr>
                        <p>Mail: <b>{{usuarioDatos?.mail}}</b></p>
                        <hr>
                        <p>DNI: <b>{{usuarioDatos?.dni}}</b></p>
                        <div *ngIf="usuarioDatos?.obraSocial">
                            <hr>
                            <p>Obra social: <b>{{usuarioDatos?.obraSocial}}</b></p>
                        </div>
                        <div *ngIf="usuarioDatos?.especialidad">
                            <hr>
                            <p>Especialidades: <b>{{usuarioDatos?.especialidad}}</b></p>
                            <hr>
                            <p>Disponibilidad: <b>Lun. a Vie. de 8:00 a 19:00/Sab. y Dom. de 8:00 a 14:00</b></p>
                            <div>
                                Asignar duración de las consultas:

                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Ej: 30" min="5"
                                        [(ngModel)]="disponibilidadHoraria">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">minutos</span>
                                    </div>
                                </div>
                                <button class="btn btn-secondary w-100 m-2"
                                    (click)="asignarDisponibilidadHoraria(disponibilidadHoraria)">
                                    Asignar duración
                                </button>
                                <div class="mt-3">
                                    <button class="btn btn-light m-2" (click)="descargarAtenciones()">
                                        <img src="../../../assets/iconos/icono-excel.png" style="width: 25px;">
                                        Descargar atenciones (Excel)
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="usuarioDatos?.perfil==='paciente'">
                            <button class="btn btn-info mt-3 w-100" (click)="verHistoria=true;">
                                Historial clínico
                            </button>
                            <div class="mt-3">
                                <label for="opciones">Descarga sus <b>turnos realizados</b></label>
                                <select class="form-select" [(ngModel)]="especialistaElegido">
                                    <option *ngFor="let opcion of especialistas" [ngValue]="opcion">Turno(s) con
                                        {{opcion.datosEsp.nombre + ' ' + opcion.datosEsp.apellido}}
                                    </option>
                                </select>
                                <div class="d-flex flex-row mt-2 justify-content-around">
                                    <button class="btn btn-light m-2" (click)="descargarAtencionesDeEspecialistaExcel()"
                                        [disabled]="!especialistaElegido">
                                        <img src="../../../assets/iconos/icono-excel.png" style="width: 25px;">
                                        Descargar Excel
                                    </button>
                                    <button class="btn btn-light m-2" (click)="descargarAtencionesDeEspecialistaPDF()"
                                        [disabled]="!especialistaElegido">
                                        <img src="../../../assets/iconos/icono-pdf.png" style="width: 25px;">
                                        Descargar PDF
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--HISTORIA CLÍNICA-->
    <div [@slideInAnimation] *ngIf="verHistoria">
        <div class="card m-4">
            <div class="card-header">
                <button class="btn btn-secondary" (click)="verHistoria=false;">
                    Volver a mi perfil
                </button>
                <div class="card-body d-flex justify-content-center">
                    <app-historia-clinica [usuarioObj]="{usuarioId}" />
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner *ngIf="spinner"></app-spinner>